# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

In [ ]:
'''
Your Code
'''
#1 2013-01-01那列的A行
#2 2013-01-01那列的A、B行
#3 2013-01-01到2013-01-02那幾列的A行
#4 2013-01-01到2013-01-05那幾列的A到C行

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [1]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np
'''
Your Code
'''

'\nYour Code\n'

In [2]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0  0.949303 -0.351849 -0.899752
1 -1.407964  0.253594  1.003943
2  1.528835  0.203205 -0.547059
3 -0.267358 -1.244387 -1.904933
4  0.176362 -0.321290  0.677159
5  0.073719  1.069682 -0.159080

In [6]:
'''
Your Code
'''
print(df[:3])
print(df[1::2])
print(df.tail(2))
print(df[::2])

       col1      col2      col3
0  0.949303 -0.351849 -0.899752
1 -1.407964  0.253594  1.003943
2  1.528835  0.203205 -0.547059
       col1      col2      col3
1 -1.407964  0.253594  1.003943
3 -0.267358 -1.244387 -1.904933
5  0.073719  1.069682 -0.159080
       col1      col2      col3
4  0.176362 -0.321290  0.677159
5  0.073719  1.069682 -0.159080
       col1      col2      col3
0  0.949303 -0.351849 -0.899752
2  1.528835  0.203205 -0.547059
4  0.176362 -0.321290  0.677159

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [9]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df

     0   1   2   3
0   38  16  26  23
1   12  11  33  36
2   15  35  14  12
3   37  18  17  19
4   26  25  34  20
5   12  17  12  24
6   39  32  16  19
7   29  31  30  30
8   30  29  13  17
9   22  14  23  31
10  36  38  25  39
11  34  10  17  31
12  18  28  24  35
13  34  25  37  39
14  12  14  20  36

In [71]:
'''
Your Code
'''
print(df[df[:][0]>20])
print(df[df[:][0] + df[:][1]>50])
print(pd.merge(df[df[:][0]<30], df[df[:][1]>30], how='outer'))
print(df[df.sum(axis=1)>100])

     0   1   2   3
0   38  16  26  23
3   37  18  17  19
4   26  25  34  20
6   39  32  16  19
7   29  31  30  30
8   30  29  13  17
9   22  14  23  31
10  36  38  25  39
11  34  10  17  31
13  34  25  37  39
     0   1   2   3
0   38  16  26  23
3   37  18  17  19
4   26  25  34  20
6   39  32  16  19
7   29  31  30  30
8   30  29  13  17
10  36  38  25  39
13  34  25  37  39
    0   1   2   3
0  12  11  33  36
1  15  35  14  12
2  26  25  34  20
3  12  17  12  24
4  29  31  30  30
5  22  14  23  31
6  18  28  24  35
7  12  14  20  36
8  39  32  16  19
9  36  38  25  39
     0   1   2   3
0   38  16  26  23
4   26  25  34  20
6   39  32  16  19
7   29  31  30  30
10  36  38  25  39
12  18  28  24  35
13  34  25  37  39