# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [116]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np
'''
Your Code
'''

'\nYour Code\n'

In [117]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [118]:
'''
Your Code
'''
df_groups = df.groupby('animal')
for key in df_groups.groups.keys():
    print(df_groups.get_group(key).age.mean())
    
print(df.sort_values(by='age', ascending = True).sort_values(by='visits', ascending = False))

for p in df['priority']:
    p = True if p == 'yes' else False
print(df)

2.5
5.0
2.5
  animal  age  visits priority
f    cat  2.0       3       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [119]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.281190  0.596256  0.645586
1  0.343783  0.069636  0.734406
2  0.552183  0.605433  0.147574
3  0.210670  0.849891  0.372404
4  0.746698  0.365177  0.709944

In [120]:
'''
Your Code
'''
column_mean = df.mean(axis = 0)
for col in df[:]:
    for data in df[col]:
        print(data-column_mean[col])

-0.14571487100701974
-0.08312177711839075
0.1252784104008804
-0.21623459695836278
0.3197928346828929
0.09897724289083548
-0.4276428367600457
0.10815451485837851
0.3526128107331587
-0.13210173172232692
0.12360349462859321
0.21242347986753984
-0.3744089613909133
-0.14957926793807474
0.18796125483285497

In [121]:
'''
Your Code
'''
print(df.apply(lambda x:x-df.mean(axis = 1)))

          0         1         2
0 -0.226487  0.088578  0.137909
1 -0.038825 -0.312973  0.351798
2  0.117120  0.170370 -0.287490
3 -0.266985  0.372236 -0.105252
4  0.139425 -0.242096  0.102671

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [122]:
df

          0         1         2
0  0.281190  0.596256  0.645586
1  0.343783  0.069636  0.734406
2  0.552183  0.605433  0.147574
3  0.210670  0.849891  0.372404
4  0.746698  0.365177  0.709944

In [123]:
'''
Your Code
'''
df['sum'] = df.sum(axis=1)

In [124]:
'''
Your Code
'''
df['sum'].idxmin()

1

In [125]:
df['colsum'] = df.sum(axis=0)
df

          0         1         2       sum    colsum
0  0.281190  0.596256  0.645586  1.523032  2.134525
1  0.343783  0.069636  0.734406  1.147825  2.486393
2  0.552183  0.605433  0.147574  1.305190  2.609914
3  0.210670  0.849891  0.372404  1.432965       NaN
4  0.746698  0.365177  0.709944  1.821819       NaN

In [126]:
df['colsum'].idxmin()

0